/* Form.css */
/* .form-container {
    max-width: 500px;
    margin: auto;
  }
  
  .form-container .MuiTextField-root {
    margin-bottom: 1rem;
  }
  
  .form-container .MuiButton-root {
    padding: 0.75rem;
    font-size: 1rem;
  } */
  
  /* styles.css */
.custom-spinner {
  width: 50px; /* Custom size */
  height: 50px; /* Custom size */
  color: #fff; /* Custom color */
}
