.total-income {
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }
  
  .total-income h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .total-income p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  