/* DashboardPage.css */

/* .dashboard-container {
    
  } */
  
  .main-content {
    flex: 6;
    padding: 3rem; 
    /* background-color: aqua; */
    
  }
/* .chart-fade:hover{
  transform: scale(1.01);
  transition: all 1s ease-in-out;
} */