
  
  .footer {
    background: linear-gradient(to right bottom, #9733ee, #da22ff );
    color: #ffffff;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .text-uppercase {
    font-weight: bold;
  }
  
  .footer .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .footer .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .footer .list-unstyled li a {
    color: #ffffff;
  }
  
  .footer .list-unstyled li a:hover {
    text-decoration: underline;
  }
  
  .footer .social-icons a {
    color: #ffffff;
  }
  
  .footer .social-icons a:hover {
    color: #007bff;
  }
  
  .footer hr {
    border-color: #ffffff;
  }
  
  .footer .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .footer .btn-primary:hover {
    background-color: #0056b3;
  }
  