<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; }
        .email-container { background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        h1 { color: #333333; }
        p { color: #555555; }
        .footer { font-size: 12px; color: #999999; margin-top: 20px; }
    </style>
</head>
<body>
    <div class="email-container">
        <h1>Budget Limit Reached</h1>
        <p>Dear {{ user.username }},</p>
        <p>You have reached your budget limit for {{ date }}.</p>
        <p>
           - <strong>Total Budget:</strong> ${{ total_budget }}<br>
           - <strong>Total Expenses: </strong> ${{ total_expenses}}<br>
           - <strong>New Expense:</strong> ${{ new_expense }}<br>
           - <strong>Remaining Budget:</strong> ${{new_remaining_budget}}<br>
        </p>
         <p> Since your budget for the current month has been fully utilized, no additional expenses can be accommodated under your set budget. 
            We recommend adjusting your budget or monitoring your spending closely for the remaining days of the month.
        </p>
        <p>If you need assistance or further information, don't hesitate to contact us.
            <span>expenseeye24@gmail.com</span></p>
        <p>Thank you for choosing ExpenseEye to manage your finances. Best regards,<br>The ExpenseEye Team</p>
        <p style="margin: 0;">&copy; {{current_year}} ExpenseEye. All rights reserved.</p>
    </div>
</body>
</html>
