.position-relative {
    position: relative;
  }
  
  .search-input {
    padding-right: 40px; /* To make room for the icon */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: gray;
  }
  
  /* search.css */

/* General styles for the search input */
.search-input {
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
}

/* Styles for the search icon */
.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Styles specific to dark mode */
.dark-mode .search-input {
  background-color: #333;
  color: #fff;
}

.dark-mode .search-icon {
  color: #fff;
}
