.position-relative {
    position: relative;
  }
  
  .search-input {
    padding-right: 40px; /* To make room for the icon */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: gray;
  }
  